/*
*/


body {
    font-family: "Roboto", Sans-serif;
    background-image: url(../resources/bg.jpeg);
    background-color: black;
overflow-y:scroll;
    overflow-x: hidden;
    height: 100%;
    transition-duration: 1s;
}

p {
    font-family: "Oswald", Sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 5000;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */



h5{font-size:0.7em;}
h3{font-size:1.5em;}
h2{font-size:2.5em; }




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */



.header img{
  width: 100px;display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {
    width: 100%;
    background-color: black;
    position: fixed; 
    height:100px;
    
}

.nav {
    width: auto;position: fixed;right:0;margin-top:-0px; z-index: 3; }

.button{background-color: transparent; text-transform:uppercase; border: none; color: black;}
.socialmedia img{width:50px;}
.socialmedia li {list-style: none;margin-right: 10px;padding:0;}
.button > span {
    display: block;
    height: 100%;
}
.socialmedia {padding:0}

.container{position: static;padding-top: 15em;}

.item img{width:100%;}
.titulo {padding-bottom: 2em;}

@media (max-width: 768px) {
.socialmedia {display:none;}
}



.next{letter-spacing: 0.5em;font-size: 1EM; }
